<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの投稿一覧" %>
      </h2>
      <div class="card__wrapper1">
        <div class="card__wrapper">
          <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
          <%= render partial: "routes/route", collection: @routes%>
        </div>
      </div>
    </div>
  </div>
</div>