<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの投稿一覧" %>
      </h2>
      <div class="card__wrapper1">
        <div class="card__wrapper">
          <%# 部分テンプレートでそのユーザーが投稿したルート一覧を表示する %>
          <% if @user.routes.blank? %>
            <h2><%= "＜#{@user.nickname}さんの投稿はありません＞" %></h2>
          <% else %>
            <%= render partial: "routes/route", collection: @routes%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>