<main class="main">
  <div class='title-contents'>
    <h2 class='service-title'>
      あなたのオススメの"ルート"を共有しよう
    </h2>
    <p class='service-explain'>
      "お気に入りのルート"、 "ここは〇〇で行くと近い"、 "オススメの散歩道"、、、
    </p>
    <p class='service-explain'>
      "ジョギングコース"、 "地図にはない裏道"、 "今まで知らなかった最短経路"、、、
    </p>
    <p class='service-explain'>
      <span class='emphasis'>「あ！、こんな道があったんだ！！」</span>
      <span class='emphasis2'>そんな新しい発見があるかも！？</span>
    </p>
  </div>
  <div class="inner">
    <div class="inner3">
      <h2 class='title'>＜検索一覧＞</h2>
      <div class="card__wrapper">
      <% if @routes.present?%>
        <% @routes.each do |route| %>
          <%= render partial: "route", locals: { route: route } %>
        <% end %>
      <% else %>
        <div class="none">＜該当するキーワードはありませんでした＞</div>
      <% end %>
      </div>
    </div>
  </div>
</main>