/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #f1f8fe;
  margin-bottom: 43px;

}
.inner {
  width: 1024px;
  margin: 0 auto;
  padding: 25px 0;
}
.inner2{
  background-color: #ffffff;
  padding-top: 10px;
}
.inner3{
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo_one {
  width: 50px;
  height: 50px;
}
.logo_two {
  width: 230px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

.title-contents {
  width: 100vw;
  height: 75vh;
  background-image: image-url('watermark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 15vw;

}

.service-title {
  font-size: 8vh;
  font-size: 7.3vh;
  color: rgb(253, 253, 253);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  padding-bottom: 20px;
}

.service-explain {
  font-size: 3vh;
  line-height: 40px;
  color: rgb(252, 252, 252);
  text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}
.emphasis{
  font-size: 3.8vh;
  color: rgb(254, 69, 195);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.emphasis2{
  font-size: 3.4vh;
  color: rgb(249, 107, 154);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin: 5vh 0 5vh 0;
  padding-top: 10px;

}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
  
}
.form_title{
  width: 45%;

}

.form__text {
  width: 50%;
  height: 200px;
}

.field{
  margin: 10px 0;
  font-weight: bold;
  min-width: 170px;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #0498fa;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.search-form {
  text-align: center;
  height: 30px;
}

.search-form .search-input {
  width: 300px;
  margin-right: 10px;
}

.search-form .search-btn {
  width: 90px;
}
.none{
  font-size: 30px;
}

/* メイン */

.image_zero{
  width: 50px;
  height: 100px;
}
.image_one{
  width: 150px;
  height: 100px;

}
.image_two{
  width: 100px;
  height: 100px;
}
.image_three{
  width: 130px;
  height: 100px;
}
.hello{
  padding: 0 35px;
}


.greeting{
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px inset #12a5d1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.greeting__link{
  font-size: 35px;
  display: block;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper1{
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 41, 41, 0.2);
  background-color: white;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 161px);
  padding: 0 20px;

}
.card {
  width: calc((100% - 50px) / 3);
  height: 100%;
  margin: 40px 0 20px 0;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.7);
  background-color: white;
}

.card__img {
  width: 320px;
  height: 250px;
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 20px;
  color: #999;
  text-align: right;
  text-decoration: underline;
  padding: 5px;
}
.card__body {
  width: 300px;
  height: 180px;
}

/* 詳細ページ */
.prototype__wrapper{
  min-height: calc(100vh - 161px);
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
}
.prototype__hedding{
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.prototype__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}

.route_image_text{
  display: flex;
  justify-content: space-between;
}
.prototype__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.route_text {
  width: 50%;
  height: 60vh;
  margin: 16px auto;
  padding: 16px 16px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
}
.prototype__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.prototype__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.prototype__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.prototype__btn:hover{
  color: #fff;
  background: #999;
}

.prototype__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}


/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}

.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }

}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.indispensable {
  background: #12a5d1;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.select-box {
  height: 30px;
  width: 20%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.category{
  font-weight: bold;
}

.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
}

.comments {
  padding: 5px;
  margin-top: 15px;
  text-align: left;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
}

.comments a {
  color: #57C3E9;
}

.comments a:hover {
  text-decoration: underline;
}
form input {
  width: 40%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}
form input[type="submit"]:hover {
  background-color: #84d3ef;
}
.main{
  background-color: #f1f8fe;
}